* {

    margin: 0px;
    padding: 0px;
}

body {


    background-color: #2F304C;
    text-align: center;

}

#h1color {

    color: #D8D4F2;
}

.container {

    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {

    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.Box {

    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0.3);
    font-size: 8vmin;
    color: #551B14;
    background-color: #B5A492;
}

#reset {

    padding: 0.50rem;
    font-size: 1rem;
    background-color: #8A7B6A;
    border-radius: 1rem;
    border: none;
    color: aliceblue;

}

#newgame {

    padding: 0.50rem;
    font-size: 1rem;
    background-color: #8A7B6A;
    border-radius: 1rem;
    border: none;
    color: aliceblue;
    
}

#msg {

    background-color: #8A7B6A;
    color: #551B14;
    font-size: 6vmin;
    
}

.msg-container{

    height: 20vmin;
    
}

.hide{

    display: none;
}
