*{
    margin: 0;
    padding: 0;
}

.dark{
    background-color: black;
    color: white;
}
.whiteClass button{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px auto;
    padding: 10px;
    width: 150px;
    height: 40px;
    outline: 0;
    border: 0;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    background-color: blue;
    cursor: pointer;
}

.onclick button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px auto;
    padding: 10px;
    width: 150px;
    height: 40px;
    outline: 0;
    border: 0;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}